.paymill_powered {
    border: 1px solid #ccc;
    padding: 4px;
    background: white url('../image/payment/paymill_icon.png') no-repeat center right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}
.paymill_powered > .paymill_credits {
    width: 160px;
    color: #666;
}
.paymill_powered > a {
    color: #666;
    text-decoration: underline;
}
.paymill_inputfield{
    float:right;
    width:200px;
}
.paymill_select{
    float:right;
    width:100px;
}
.paymill_select_spacing{
    width: 8px;
    display: inline-block;
    float: right;
    height: 23px;
}


.paymill-card-number-visa
{
    background: url('../image/payment/32x20_visa.png') no-repeat center right !important;
}

.paymill-card-number-mastercard
{
    background: url('../image/payment/32x20_mastercard.png') no-repeat center right !important;
}

.paymill-card-number-amex
{
    background: url('../image/payment/32x20_amex.png') no-repeat center right !important;
}

.paymill-card-number-jcb
{
    background: url('../image/payment/32x20_jcb.png') no-repeat center right !important;
}

.paymill-card-number-maestro
{
    background: url('../image/payment/32x20_maestro.png') no-repeat center right !important;
}

.paymill-card-number-carte-bleue
{
    background: url('../image/payment/32x20_unionpay.png') no-repeat center right !important;
}

.paymill-card-number-diners
{
    background: url('../image/payment/32x20_dinersclub.png') no-repeat center right !important;
}

.paymill-card-number-discover
{
    background: url('../image/payment/32x20_discover.png') no-repeat center right !important;
}