#paymill_form {
    float: right;
    width: 383px;
}

#paymill_form input[type="text"] {
    position: absolute;
    padding: 7px;
    top: 20px;
    height: 24px;
    font-family: inherit;
    font-size: 15px;
    color: #6d7578;
    background: #eaeff1;
    border: 1px solid #bdc5c8;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px #dde2e4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#paymill_form input[type="text"]:focus {
    border-color: #6d7578;
    outline: none;
    color: #424a4d;
}

#paymill_form .field-error {
    border-color: #FF0000 !important;
}

#paymill_form .field-left {
    width: 180px;
    left: -3px;
}

#paymill_form .field-right {
    left: 240px;
    width: 125px;
}

#paymill_form .field-full {
    width: 365px;
    left: -3px;
}


#paymill_form fieldset {
    position: relative;
    border: none;
    height: 70px;
}

#paymill_form label {
    position: absolute;
    font-weight: bold;
    font-size: 13px;
}
#paymill_form .paymill_relative{
    position: relative;
}

#paymill_form .paymill_confirm_button{
    float:right;
}
#paymill_form .paymill_loading_layer{
    position: absolute;
    top: 45px;
    left: 45%;
    z-index: 10;
    display:none;
}

.paymill_error{
    display: none;
    margin-top:15px;
}

.paymill-card-number-visa
{
    background: url('../image/payment/32x20_visa.png') no-repeat center right !important;
}

.paymill-card-number-mastercard
{
    background: url('../image/payment/32x20_mastercard.png') no-repeat center right !important;
}

.paymill-card-number-amex
{
    background: url('../image/payment/32x20_amex.png') no-repeat center right !important;
}

.paymill-card-number-jcb
{
    background: url('../image/payment/32x20_jcb.png') no-repeat center right !important;
}

.paymill-card-number-maestro
{
    background: url('../image/payment/32x20_maestro.png') no-repeat center right !important;
}

.paymill-card-number-carte-bleue
{
    background: url('../image/payment/32x20_carte-bleue.png') no-repeat center right !important;
}

.paymill-card-number-diners-club
{
    background: url('../image/payment/32x20_dinersclub.png') no-repeat center right !important;
}

.paymill-card-number-discover
{
    background: url('../image/payment/32x20_discover.png') no-repeat center right !important;
}

.paymill-card-number-carta-si
{
    background: url('../image/payment/32x20_carta-si.png') no-repeat center right !important;
}

.paymill-card-number-china-unionpay
{
    background: url('../image/payment/32x20_unionpay.png') no-repeat center right !important;
}

.paymill-card-number-dankort
{
    background: url('../image/payment/32x20_dankort.png') no-repeat center right !important;
}

.paymill-card-number-grayscale
{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.paymill_icons
{
    margin-bottom: 5px;
}