#paymill_form {
    text-align: right;
}

#paymillContainer {
    float: right;
    width: 385px;
}

#paymillTable {
    width: 100%;
}

.paymillClearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}